<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{community.name}}</title>
    <link rel="stylesheet" href="/css/style_home.css">
    <script src="/js/profileDropdown.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/">
                <img src="/img/ReadIt.png" alt="ReadIT logo" class="logo">
                <h1 class="site-title">Read<span class="highlight">IT</span></h1>
            </a>
        </div>
        <div class="user-info">
            <div class="dropdown" id="profile-dropdown">
                <span class="username" id="username">{{user.username}}</span>
                <img src="{{user.profilePic}}" alt="Profile Picture" class="profile-pic" id="profile-pic">
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/profile/{{user.username}}">View Profile</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
    <div class="content">
        <div class="community-header">
            <h2>{{community.name}}</h2>
            <p class="community-description">"{{community.description}}"</p>
        </div>

        <div class="posts-section">
            <button id="create-post-button">Create Post</button>
            {{#each posts}}
                <div class="post">
                    <h3 class="post-title">{{this.title}}</h3>
                    <p class="post-snippet">{{this.content}}</p>
                </div>
            {{/each}}
            <button id="load-more-button">Load More</button>
        </div>
    </div>
</body>
</html>