<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{community.name}}</title>
    <link rel="stylesheet" href="/css/style_community.css">
    <script src="/js/profileDropdown.js" defer></script>
    <script src="/js/createPost.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/">
                <img src="/img/ReadIt.png" alt="ReadIT logo" class="logo">
                <h1 class="site-title">Read<span class="highlight">IT</span></h1>
            </a>
        </div>
        <div class="user-info">
            <div class="dropdown" id="profile-dropdown">
                <span class="username" id="username">{{user.username}}</span>
                <img src="{{user.profilePic}}" alt="Profile Picture" class="profile-pic" id="profile-pic">
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/profile/{{user.username}}">View Profile</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="community-sidebar">
            <div class="community-header">
                <h2>{{community.name}}</h2>
                <p class="community-description">{{community.description}}</p>
                <p class="post-counter">{{#if posts.length}}{{posts.length}}{{else}}0{{/if}} posts available in this community!</p>
            </div>
        </div>
        
        <div class="posts-container">
            <div class="posts-header">
                <h2>Posts</h2>
                <button id="create-post-button" class="blue-button">Create Post</button>
            </div>
            <div class="posts-section">
                {{#each posts}}
                    <div class="post">
                        <h3 class="post-title">{{this.title}}</h3>
                        <p class="post-snippet">{{this.post_description}}</p>
                        <p class="post-author">Posted by <a href="/profile/{{this.user}}" style="color:inherit">{{this.user}}</a></p>
                    </div>
                {{else}}
                    <p id="no-posts-message">No posts available yet</p>
                {{/each}}
                <button id="load-more-button" class="green-button">Load More</button>
            </div>
        </div>
    </div>
</body>
</html>
