<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadIT Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_post.css">
    <script src="/js/profileDropdown.js" defer></script>
    <script src="/js/submitComment.js" defer></script>
    <script src="/js/commentActions.js" defer></script>
</head>
<body data-username="{{user.username}}">
    <div class="header">
        <div class="logo-container">
            <a href="/">
                <img src="/img/ReadIt.png" alt="ReadIT logo" class="logo">
                <h1 class="site-title">Read<span class="highlight">IT</span></h1>
            </a>
        </div>
        <div class="user-info">
            <div class="dropdown" id="profile-dropdown">
                <span class="username" id="username">{{user.username}}</span>
                <img src="{{user.profilePic}}" alt="Profile Picture" class="profile-pic" id="profile-pic">
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/profile/{{user.username}}">View Profile</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="content">
            <div id="posts-container" class="posts-section">
                <div class="post">
                    <h2>{{post.title}}</h2>
                    <p>{{post.post_description}}</p>
                    <p class="post-community">Posted in <a href="/api/community/{{post.communityName}}" style="color:inherit">{{post.communityName}}</a> by <a href="/profile/{{post.user}}" style="color:inherit">{{post.user}}</a></p>
                    <div class="post-stats">
                        <span class="likes-count">{{post.likes}} 👍</span>
                        <span class="dislikes-count">{{post.dislikes}} 👎</span>
                        <span class="comments-count">{{post.comments.length}} Comments</span>
                    </div>
                    <div class="comments-section">
                        <h4>Comments</h4>
                        <ul>
                            {{#each post.comments}}
                                <li>
                                    <p class="comment-user">
                                        <strong><a href="/profile/{{this.user}}" style="color:inherit">{{this.user}}</a>:</strong> 
                                        {{this.text}} 
                                        {{#if this.edited}}<em>(edited)</em>{{/if}}
                                    </p>
                                    <button class="edit-button" style="display:none;" onclick="editComment('{{../post._id}}', '{{this._id}}', '{{this.text}}')">Edit</button>
                                    <button class="delete-button" style="display:none;" onclick="deleteComment('{{../post._id}}', '{{this._id}}')">Delete</button>
                                </li>
                            {{/each}}
                        </ul>
                        <form class="comment-form" data-post-id="{{post._id}}">
                            <textarea name="comment" placeholder="Add a comment..." required></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
